/* style.css */

html, body {background-color: #f8f8f8; margin: 0px;}

#body {background-color: #fff; padding-bottom: 1em;}

*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
* {font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;}

h1, h2, h3, p {margin: 0px; line-height: 1.28;}
h2, p {margin-bottom: 1em;}
h2:last-child {margin-bottom: 0em;}
h1 {font-size: 2.0em; color: #222;}
h2 {font-size: 1.6em; color: #333;}
h3 {font-size: 1.2em; color: #444;}
p {font-size: 1.2em; color: #444;}

a {color: inherit; text-decoration: none;}
a:hover {text-decoration: underline;}

img {width: 100%;}
hr {border: none; border-top: 3px solid #eee; margin: 20px 0px;}

.s-content {padding: 1em 0px;}
.s-ceiling {padding: 5px 0px;}
.s-closure {padding: 0px 10px;}
.s-container {display: block; max-width: 640px; margin: 0px auto;}
.s-container-small {display: block; max-width: 480px; margin: 0px auto;}
.s-expand {width: 100%;}
.s-module {border-bottom: 1px solid #eee;}

.directory {margin: 0px; padding: 0px;}
.file {list-style-type: none; padding: 10px; margin: 0px; border-bottom: 1px solid #f8f8f8;}

.no-files {padding: 1.5em 0px; text-align: center; font-style: italic;}
.no-files p {color: #777;}

#file_contents {position: fixed; z-index: 10; font-family: 'Source Code Pro'; border-left: none; border-right: none; border-bottom: none; border-radius: 0px; top: 64px; bottom: 0px; left: 0px; right: 0px;}

.btn {display: inline-block; text-decoration: none !important; border: 1px solid transparent; padding: 10px; margin: 0px; font-size: 1em; border-radius: 3px; cursor: pointer; outline: none; -webkit-appearance: none;}
.btn-bar {display: block; width: 100%; text-align: center;}
/* .btn-success {color: #32ad64; border: 1px solid #32ad64;} */
.btn-success {background-color: #32ad64; color: #fff; border-color: #249c48; border-top-color: #209438; box-shadow: inset 0 1px 2px rgba(255,255,255,0.1);}
.btn-success:hover {background-color: #28a960; border-color: #209438; border-top-color: #189036;}
.btn-success:active {background-color: #249c48;}

.btn-normal {background-color: #fff; border-color: #ddd; border-top-color: #ccc;}
.btn-normal:hover {background-color: #f8f8f8; border-color: #ccc; border-top-color: #bbb;}
.btn-normal:active {background-color: #f4f4f4;}

.input-row {padding: 5px 0px;}
.input-row label {display: block; font-size: 1em; color: #333; margin-bottom: 5px;}

.textbox {display: block; width: 100%; font-size: 1em; padding: 10px; border: 1px solid #ccc; border-top-color: #bbb; border-radius: 3px; box-shadow: inset 0 1px 2px rgba(0,0,0,0.1); outline: none;}
.textbox:hover {border-color: #bbb; border-top-color: #aaa;}
.textbox:focus {border-color: #08f; box-shadow: 0 0 3px rgba(0,128,255,0.3);}
textarea.textbox {resize: none;}

/* Footer */
#footer {font-size: 0.9em; padding: 1em 0px;}
.footer-links {color: #789; padding: 0em 0;}
.footer-copyright {float: right; opacity: 0.9;}


