//- footer.jade

#footer
	.s-closure
		.s-container
			p.footer-links
				span.footer-links-outbound
					b= appName
					if authed
						| &#32;&bull;&#32;
						a(href=ns('/logout')) Logout
				if credits
					span.footer-copyright
						a(href='https://github.com/andrejewski/smithsonian') Smithsonian
						| &#32; by 
						a(href='http://chrisandrejewski.com/') Chris Andrejewski
				
