//- login.jade

extends ./layout

block content
	.s-module
		.s-closure
			.s-container-small
				.s-ceiling
					h1 #{appName}
	.s-closure
		.s-container-small.s-content
			form(id='login-form', method='post')
				if e == 1
					.input-row
						label(for='username') Email address
						input.textbox.form-control(name='username', value=username, placeholder="charlie_kelly", type='text', maxlength='100', required)
					.input-row
						label(for='password') Password
						input#password.textbox.form-control(name='password', type='password', autofocus, placeholder="the_day_man", maxlength='32', required)
						p.details.txt-failure The password was not correct.

				else
					.input-row
						label(for='username') Email address
						input#email.textbox.form-control(name='username', type='text', autofocus, placeholder="charlie_kelly", maxlength='100', required)
						if e == 0
							p.details.txt-failure The username was not correct.
					.input-row
						label(for='password') Password
						input#password.textbox.form-control(name='password', type='password', placeholder="the_day_man", maxlength='32', required)
						if e == 1
							p.details.txt-failure The password was not correct.

				.input-row
					input.btn.btn-bar.btn-success(type='submit', value='Log into '+appName)
